.inputFieldRoot{
    cursor: pointer !important;
    &::after, &::before{
        display: none;
        
    }
}
.inputWrap{
    margin-top: 15px;
    min-height: 48px;
    padding: 5px 17px !important;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.272) !important;
    border-radius: 10px;
    position: relative;
}
